<div class="card" style="width:400px; margin:20px;">
  <div class="card-header">
    <span><strong>{{this.repository.name}}</strong></span>
  </div>
  <div class="card-body">
    <h4>{{this.repository.description}}</h4>
    <h5>Owner: {{this.repository.owner.login}}</h5>
    <h5 *ngIf="this.repository.lang">Language: {{this.repository.lang}}</h5>
  </div>
  <div class="card-footer">
    <a href="{{this.repository.link}}" target="_blank" class="btn btn-primary" >View on Github</a>
  </div>
</div>