<router-outlet></router-outlet>
<div class="c-header">
    <span><strong>FIND USER</strong></span>
</div>
<hr>
<div class='center'>
    <form (ngSubmit)="search()" class="form-inline row positioning" autocomplete="off">
        <div class="input-group mb-3 center">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input name = 'newname' class="form-control" placeholder="Enter user name . . ." [(ngModel)]="this.searchstring">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>  
            </div>
        </div>
    </form>

</div>
<hr>

<ul class="container center">
    <div class="row">
        <div *ngFor="let result of results">
            <app-user-display [currentuser]="result"></app-user-display>
        </div>
    </div>
</ul>