<router-outlet></router-outlet>
<div>
    <form (ngSubmit)="search()" class="form-inline row" autocomplete="off">
        


        <div class="input-group mb-3">
            <input name="newname" class="form-control" placeholder="Enter user name..." [(ngModel)]="this.searchstring">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="submit">Search</button>  
            </div>
            
        </div>





    </form>

</div>


<ul class="container">
    <div class="row">
        <div *ngFor="let result of results">
            <app-user-display [currentuser]="result"></app-user-display>
        </div>
    </div>
</ul>