<router-outlet></router-outlet>
<div class="row">
    <div *ngIf="this.user" class="col-xs-10">
        <div class="card">
            <img class="pull-left col-xs-12 col-md-6 col-lg-3"  src="{{this.user.image}}">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-9 row">
            <div class="pull-right labels">
                <div class="label label-warning">Followers: {{user.info['followers']}}</div>
                <div class="label label-success">Following: {{user.info['following']}}</div>
            </div>
            <h2><strong *ngIf="this.user.info['name']">{{this.user.info['name']}} | </strong><strong>{{this.login}}</strong></h2>
            <h4>{{this.user.info['bio']}}</h4>
            <div *ngFor="let repo of user.repos" class="col-xs-6">
                <p><strong (click)="showdesc('repo'+repo['id'])">{{repo['name']}}</strong></p>
                <div class="repodesc" id="repo{{repo['id']}}">
                    <h4>{{repo['description']}}</h4>
                    <h5>Created on {{repo['created_at'] | dateformat}}</h5>
                    <h5>Language : {{repo['language']}}</h5>
                    <h5><a href="{{repo['html_url']}}" target="_blank">Link</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>